nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #39383e;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid #eec910;
    color: white;
    border-radius: 9%;
    padding: 0.5rem;
    transition: all 0.3 ease;
    &:hover {
      background: white;
      color: #39383e;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
