* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h3 {
  color: #eec910;
}
h2 {
  color: #ded8fd;
}
body {
  font-family: "Catamaran", sans-serif;
}
.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 5%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
